html
  // smoke test marker: App 404 page
  head
    title= title
    link(rel="stylesheet" type="text/css" href="./vendor/normalize-3.0.2.css")
    style(type="text/css")=cssText
    link(rel="shortcut icon" type="image/png" href="./nodejs-512.png")

  body(class=classes.container)
    h1 404: Page Not Found :(
    a(
      href="/"
    ) Go Home
