html
  // smoke test marker: App 404 page
  head
    title=title
    link(rel="stylesheet" type="text/css" href="./vendor/normalize-3.0.2.css")
    link(rel="stylesheet" type="text/css" href="./screen.css")
    link(rel="shortcut icon" type="image/png" href="./nodejs-512.png")
body
  h1 404: Page Not Found :(
  a(
    href="/"
    ) Go Home
