html
  // smoke test marker: App home page
  head(title= title)
  link(rel="stylesheet" type="text/css" href="./vendor/normalize-3.0.2.css")
  link(rel="stylesheet" type="text/css" href="./screen.css")
  link(rel="shortcut icon" type="image/png" href="./nodejs-512.png")
body
  h1#header-text Hello, world!

  script(src="bundle.js")
  script.
    const client = require("./main.js");
    console.log(client.isTrue());
